
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <form action="Home/logIn" method="post" >
        <div>
            <h3>
                this is view page for Wecome
            </h3>
            <input type="text" name="name" /> <input type="submit" value="Login" />
            <br />
            @if (ViewBag.Name != null)
            {
                <label>Welcome,@ViewBag.Name</label>

            }
        </div>
    </form>
</body>
</html>
