 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>create</title>
</head>
<body>
    <div> 
        <h2>created page</h2>


        @Html.ActionLink("back","index")
    </div>
</body>
</html>
